* {
  box-sizing: border-box;
}



.items-sell-contents {
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  background-image: url('faget2.png');
  background-size: 300px;
  background-position: center;
}


.registration-main{
  padding-bottom: 300px;
  background-image: url('faget2.png');
  background-size: 300px;
  background-position: center; 
  margin-top: 150px;
}


.items-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.items-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}


.indispensable {
  background: #ec7125;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ec7125;
  border-radius: 30px;
  border: #ec7125;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  border-radius: 30px;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}


.items-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  color: #ea352d;
  font-weight: bold;
  background-color: #dca758;
  border-radius: 30px;
  padding: 15px;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #ea352d;
  font-weight: bold;
  background-color: #dca758;
  border-radius: 30px;
  padding: 25px;
  text-align: center;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}



.item-img {
  width: 33vh;
  height: 33vh;
}


.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
  text-decoration: none;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.list {
  text-decoration: none;
}

.item-img-content {
  position: relative;
  width: 500px;
  justify-content: center;
  align-items: center;

}


.card__img{
  width: 250px;
  height: 250px;
}

.seemore{
  text-align: center;
}

.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  padding-bottom: 30px;
  background-image: url('faget2.png');
  background-size: 300px;
  background-position: center;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ec7125;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 5vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 3vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.prototype__comments
{
  width: 1200px;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 60px;
}

.prototype__comment{
  width: 1000;
  background-color: #f5f5f5;
}


.container1{
  display: flex;
  align-items: center;
}

.container2{
  text-decoration: none;
  font-family: cursive;
}

.navbar-brand h4{
  font-size: 30px;
}

a.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 150px;
  height: 150px;
  padding: 0;
  -webkit-box-shadow: 0 5px 0 #e6d900;
  box-shadow: 0 5px 0 #e6d900;
  background-color: #2d2d2d;
  color: #f5f5f5;
  margin: 30px;
}

a.btn--circle:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e6d900;
  box-shadow: 0 2px 0 #e6d900;
  background-color: #2d2d2d;
}

.text-styling {
  text-decoration: none;
  font-family: cursive;
}

a{
  text-decoration: none;
  font-family: cursive;
}

h1 {
  text-decoration: none;
  font-family: cursive;
}

h2 {
  text-decoration: none;
  font-family: cursive;
}

.title{
  background-color: #f5f5f5;
}

.h3{
  text-decoration: none;
  font-family: cursive;
}

.h4{
  text-decoration: none;
  font-family: cursive;
}


.col-lg-4{
  text-decoration: none;
  font-family: cursive;
}


.col-md-7{
  text-decoration: none;
  font-family: cursive;
}


.marketing2{
padding: 40px 30px;
margin-top: 30px;
background-color: #eee;

}

.main{
  padding-bottom: 30px;
  background-image: url('faget2.png');
  background-size: 300px;
  background-position: center;
}

body{
  padding-bottom: 30px;
  background-image: url('faget2.png');
  background-size: 300px;
  background-position: center; 
}

.comments{
  display: flex;
  text-align: center;
}

.actions{
  margin: 30px 0 30px;
  color: #ec7125;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  border: none;
}


.user-info {
  width: 100px;
  margin-right: 10px;
}

.comment-text {
  flex: 1;
  border: none;
}

.form__btn{
  background-color: #ec7125;
  border-radius: 30px;
  color: #eee;
  font-weight: bold;
  border: none;
}

.contents.row{
padding-top: 200px;
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 300px;
  overflow: hidden;
  margin-right: 30px;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background:#ec7125;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -3px;
  outline : none;
}
